::-webkit-scrollbar{
    display: none;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
}

img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 58px;
}

p,a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
    font-weight: 700;
    color:#000;
    transition: color 0.3s;
}

nav {
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.nav-items{
    position:fixed;
    top:2rem;
    left:40%;
    display: flex;
    gap:0.2rem;
}

nav a, .nav-items a{

    text-transform: none;

}

.whitespace.w-1{
    width:100vh;
    height:50vh
}



.whitespace.w-2{
    height:40vh;
    width:100vh;
}


.gallery{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    gap:20rem;
}

.project{
    position:relative;
    width:100vh;
    height:100vh;
}

.index{
    flex:1;
    padding:2rem;
    height:0;
}

.images{
    flex:6rem;
    display: flex;
    gap:1;
    flex-direction:column;
    height: 100vh;

}

.img{
    flex:1;
    width:200px;
    background-color: transparent;
    overflow:hidden;
}

.img img{
    opacity: 0.9;
}

.index .mask{

    position:absolute;
    top:0;
    left:2rem;
    height:70px;
    overflow:hidden;
    will-change:transform;
}

.index .mask h1{
    position:relative;
    will-change:transform;
}

.index .mask h1 span{
    position:relative;
    display: inline-block;
    will-change: transform;

}

.digit.wrapper, .digit.wrapper span{
    display: inline-block;
    position:relative;
    will-change:transform;
}

.project-names {
    position: fixed;
    width: 200px;
    top: 50vh;
    gap: 20rem; /* Increased gap for more vertical space */
    font-weight: bold;
    font-size: xx-large;
    left: 40%;
    transform: translateX(0%);
}



.indicator{
    position:absolute;
    top:0;
    right:0;
    width:18px;
    height:18px;
    display:flex;
    justify-content: center;
    align-items:center;
    will-change: transform;
}

.indicator{
    width: 12px;
    height: 12px;
    background-color: #000;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.name{
    height:18px;

}

.name p{

    color:grey;
}

.name.active p{
    color:black;
}

.preview-img{
    position:fixed;
    bottom: 2rem;
    right: 2rem;
    max-width: 40vw;
    height:calc(50vh - 2rem);
    opacity: 0.9;
}

.progress-bar{
    position:fixed;
    top:0;
    right:0;
    width:8px;
    height:100vh;
    background-color: #000;
    transform-origin:top;
    transform:scaleY(0);
}

.footer p{
    position:fixed;
    bottom:2rem;
    left: 40%;
    text-transform: none;
   
}
